body{
  background-color: rgb(0, 247, 255);
  column-width: auto;
  bottom: auto;
  direction: ltr;
}
div{
  display: flex;
  align-items: center;
  height: 100%;
}
p{
  margin: 0;
}
.date{
  color:rgb(255, 0, 0) ;
  font-size: x-large;
}
.icons{
  cursor: pointer;
  font-size: large;
  border-collapse: collapse;
}
.calendar{
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
  border: 3px solid gray;
}
.number{
  column-count: 5;
  column-gap: 10px;
  column-rule-style: none;
  list-style-type: none;
  -webkit-text-stroke : 1px #fac;
  table-layout: fixed;
  width: 100%;
  font-size: large;
}
.days{
  color: blue; 
  font-size: large;
}







