body{
  background-color: rgba(47, 255, 175, 0.562);
  column-width: auto;
  bottom: auto;
  direction: ltr;
}
div{
  display: flex;
  align-items: center;
  height: 100%;
}
p{
  margin: 0;
}
.icons{
  cursor: pointer;
  font-size: medium;
  color: black;
}
.calendar{
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
  border: 3px solid gray;
}
.number{
  column-count: 5;
  column-gap: 20px;
  column-rule-style: none;
}






